.repos-container {
  display: flex;
  justify-content: center;
}

.all-repos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  gap: 20px 50px;
}

.each-repo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
  color: #b9b8b9;
  width: 400px;
  min-height: 300px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  padding: 0 10px;
}

.each-repo p {
  margin: 5px;
}

.repo-row {
  display: flex;
}

.repo-row p {
  background-color: rgb(32, 32, 32);
  padding: 3px 5px;
  border-radius: 5px;
}

.repo-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
  background-color: #900c3f;
  border-radius: 5px;
  padding: 10px 20px 12px 20px;
  margin: 10px 10px 0 10px;
}

.repo-links:hover {
  background-color: #511845;
}
